
{% extends "_layout" %}
{% set title = entry.title %}
{% set description = entry.subtitle %}
{% set image = entry.hero.first() %}
{% block content %}
	
	<div class="banner" {% if image %}style="background-image:url('{{ image.getUrl('hero') }}');"{% endif %}>
		{% set stepOut %}
			{asset:175}
		{% endset %}
		<div class="banner-inner">
			
			<div class="banner-copy body-wrapper">
				<h1>{{ entry.title }}</h1>
				<p class="team"><img src="{{ stepOut|parseRefs|raw }}" alt=""><span>{{ entry.teamDates }}</span></p>
			</div>
		</div>
	</div>
	<article>
		<h2>{{ entry.subtitle }}</h2>
		{{ entry.body }}

	</article>

	{% if entry.showEmail  %}
		<div class="body-wrapper">
		<h2>Interested? Get in touch.</h2>
			{% macro errorList(errors) %}
			    {% if errors %}
			        <ul class="errors">
			            {% for error in errors %}
			                <li>{{ error }}</li>
			            {% endfor %}
			        </ul>
			    {% endif %}
			{% endmacro %}

			{% from _self import errorList %}
			<div id="feedback" class="" style="display:none;">
				Your message was sent successfully!
			</div>
			<div id="loading" class="loading" style="display:none">
				<img src='{{siteUrl}}assets/images/svg-loaders/three-dots.svg' fill='#5a417a' alt='loading' class='loading'>
			</div>
			<form id="my-form" method="post" action="" accept-charset="UTF-8">
			    {{ getCsrfInput() }}
			    <input type="hidden" name="action" value="contactForm/sendMessage">

			    <h3><label for="fromName">Your Name</label></h3>
			    <input id="fromName" type="text" name="fromName" value="{% if message is defined %}{{ message.fromName }}{% endif %}" required >
			    {{ message is defined and message ? errorList(message.getErrors('fromName')) }}

			    <h3><label for="fromEmail">Your Email</label></h3>
			    <input id="fromEmail" type="text" name="fromEmail" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}" required >
			    {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}

			    <input id="opportunity" type="hidden" name="message[Opportunity]" value="{{ entry.title }}">
			    <input id="cheeky" name="cheeky" type="text">
			    <h3><label for="message">Message</label></h3>
			    <textarea rows="10" cols="40" id="message" name="message[body]">{% if message is defined %}{{ message.message }}{% endif %}</textarea required >
			    {{ message is defined and message ? errorList(message.getErrors('message')) }}

			    <input type="submit" value="Send">
			</form>
		</div>
	{% elseif entry.applyOnlineLink|length%}
		<div class="body-wrapper" style="text-align:center"><a href="{{ entry.applyOnlineLink }}" class="button">Apply Online</a></div>
	{% endif %}
	<div class="body-wrapper"><div class="addthis_sharing_toolbox"></div></div>
{% endblock %}
{% block foot %}
	{% if entry.showEmail  %}
	<script>
		$( document ).ajaxStart(function() {
		  $('#feedback').removeClass('flash-success');
		  $('#feedback').removeClass('flash-error');
		  $( "#loading" ).slideDown();
		  $( "#my-form" ).slideUp();
		});
		$('#my-form').submit(function(ev) {
		    // Prevent the form from actually submitting
		    ev.preventDefault();

		    // Get the post data
		    var data = $(this).serialize();

		    // Send it to the server
		    $.post('/craft/', data, function(response) {
		        if (response.success) {
		        	 $( "#loading" ).slideUp();
		        	 $('#feedback').addClass('flash-success');
      	             $('#feedback').slideDown();
		        } else {
		            // response.error will be an object containing any validation errors that occurred, indexed by field name
		            // e.g. response.error.fromName => ['From Name is required']
		            // Loop through the errors and append to relevant fields
                    for ( var fieldId in response.error ) {

                        // Create the <ul>
                        var $errors = $( '<ul class="errors plain" />' );

                        // Wrap the error messages in <li> tags
                        var messages = $.map(response.error[fieldId], function(message){
                            return '<li>' + message + '</li>';
                        });

                        // Append the error messages to the ul
                        $errors.append( messages.join( '' ) );

                        // Select the input element and append the .errors <ul> after it.
                        $('#'+fieldId).after($errors);
                        $('#'+fieldId).addClass('error')

                    }
		            $( "#loading" ).slideUp();
		  			$( "#my-form" ).slideDown();
		        }
		    });
		});
	</script>
	{% endif %}
{% endblock %}
