{% extends "category/index" %}
{% set title = entry.title %}
{% set description = entry.subtitle %}

{% block content %}
	{{ parent() }}
	{% set entries = craft.categories.group('waysToServe').level(1) %}
	{% if entries %}
		<div class="body-wrapper">
			{% for entry in entries %}
			  <div class="side-image">
			  	  {% set image = entry.hero.first() %}
			  	  {% if image %}
			  	  	<div class="images-wrapper" style="background-image:url('{{ image.getUrl('medium') }}');"></div>
			  	  {% else %}
			  	  	<div class="images-wrapper" style="background-image:url('{{ siteUrl }}assets/images/header.jpg');"></div>
			  	  {% endif %}
			  	    <div class="side-image-content">
			  	      <h1><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
			  	      <p>{{ entry.subtitle }}</p><p><a href="{{ entry.url }}" class="read-more">Read More <span>&rsaquo;</span></a></p>
			  	  </div>
			  	</div>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}